*{
  padding: 0;
  margin: 0;

}
div{
  padding: auto;
}
body{
  background-color: bisque;
 padding: 0%;
 margin: 0%;
}


#top{

  border: 1vh solid beige;
  text-align: center;
}
#body{
  background-color: rgb(255, 69, 0);
  
}
#feutures{
  background-color: rgb(255, 69, 0);
  margin-left: 3vh;
  padding: 0vh 6vh;
}

#contact{
  background-color: rgb(255, 69, 0);
  margin-left: 3vh;
  padding: 0vh 6vh;
}
#work{
  background-color: rgb(255, 69, 0);
  margin-left: 3vh;
  padding: 0vh 6vh;
}
#landImg{
  width: 1300px;
  height: 150vh;
  
}
#headline{
  color: white;
}
#startbtn{
  background-color: rgb(255, 69, 0);
  margin-left: 3vh;
  padding: 0vh 6vh;
}
#loginbtn{
  
  background-color: rgb(255, 69, 0);
  margin-left: 150px;
  padding: 0vh 6vh;
  
}
#documentation{
  margin-top: 2vh;
  background-color: antiquewhite;
  margin-left: 27vh;
  width: 45vh;


}
#using{
  margin-top: -1vh;
  background-color: antiquewhite;
  margin-left: 50vh;
  width: 45vh;


}
#application{
  background-color: antiquewhite;
  margin-left: 0vh;
  margin: 2vh;
  width: 60vh;
  background-attachment: fixed;
}
#Bottom{
 background-color: bisque;
}
#Top{
 background-color: aquamarine;
}
#times{
  margin-left: 40vh;
  font-size: 4.5vh;
  font-weight: bolder;
  font-family: Times New Roman;
  background-color: aqua;
}
 #liking{
  color: aqua;
  font-weight: 200;
  cursor: pointer;
  padding: 2px 2px;
  font-family: Times New Roman;
 
}

#comments  li{
  font-size: 2vh;
  background-color: aliceblue;
  padding: 0%;
  border: 0ch;
}
div {
  min-width: auto;
  min-width: auto;
height: auto;
width: auto;
}

#navbar{
    background-color: aqua;
    font-family: Times New Roman;
  
    
}
#navb{
  background-color: aqua;
  font-family: Times New Roman;
  margin-left: 12vh;
  font-weight: bolder;
  font-size: 5vh;

  
}
.col-4{
  background-color: rgb(255, 69, 0);
  font-family: Times New Roman;
}
#searchInput{
  font-size: 3vh ;
  font-family: Times New Roman;
}
li{
  
  border: 2px solid rebeccapurple;
  cursor: pointer;
  color: rgb(31, 31, 6);
  font-size: 4.3vh;
  font-family: Times New Roman;
  
}
#Top_News{
  padding: 2px 2px;
  border: 1px solid rebeccapurple;
}
p{
  border: 2px solid rebeccapurple;
  cursor: pointer;
  color: rgb(31, 31, 6);
  font-size: 4vh;
  font-family: Times New Roman;
  background-color: aliceblue;
}
#reach{
  height: 2vh;
  width: 2vh;
}
.card{
    margin-top: 2vh;
    height: fit-content;
    width: fit-content;
    color: #000;
    margin-left: 50vh;

}
#img{
  width: 430px;
  height: 90vh;
}
#card{
  box-shadow: 45vh;
    overflow: hidden;
    background-color: aquamarine;
    margin-top: 50vh;
    height: 400px;
    width: 400px;
    color: #000;
    margin-left: 50vh;



}

#btn-r{
    background-color: antiquewhite;
    color: blue;
    height: 45px;
    width: 100vh;
  margin: 1vh;
  box-shadow: inset;
}

#login{
    background-color: antiquewhite;
    color: blue;
    height: 45px;
    width: 100vh;
  margin: 1vh;
  box-shadow: inset;
  display: flex;
  text-align: center;
   
}
input{
  flex-direction: column;
  text-align: center;
}

#signup{
  margin-inline-end: auto;
margin-top: 26vh;
  text-align: center;
 
}
#email{
  margin-left: 5vh;
}

